body {
  font-family: "Segue UI", Arial, sans-serif;
}

#parent {
  display: block;
  width: 50%;
  margin: 0 auto;
  overflow: auto;
}
#canvas {
  float: left;
  display: inline-block;
  padding: 10px;
}

canvas {
  border-radius: 2px;
}
#controls {
  display: inline-block;
  float: left;
}

#alert {
  color: red;
}
#header {
  text-align: center;
}
button {
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {

  #parent {
    width: 90%;
  }
}